In [1]:
import os
import pandas as pd
import datetime
import numpy as np
import time
from tqdm import tqdm
import timeit
tqdm.pandas()

C:\ProgramData\Anaconda3\lib\site-packages\tqdm\std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
def clean_dataframe(df):
    """Return a dataframe
    
    Clean up the dataframe for any duplicates or null values
    """
    count_start = len(df)
    
    # Does it make sense to drop duplicates?
#     # Clean - Drop duplicates entries
#     df.drop_duplicates(keep=False,inplace=True)
#     # Clean - Check for duplicates counts
#     print("Number of duplicates dropped = ",  count_start-len(df))

    # Clean - Drop null value entries
    count_start = len(df)
    df = df.dropna(how='any',axis=0)
    # Clean - Check for null value counts
    print("Number of null value entry = ",  count_start-len(df))
    return df

def preprocess_machine_time(df):
    """Return a dataframe
    
    Convert Machine Time (Column 'Date') to Unix Timestamp with Millisecond Resolution
    """
    # Date to Unix Timestamp
    #df.info(verbose=True)
    # Convert Date object (mm/dd/yyyy hh:mm:ss)to datetime type
    df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %H:%M:%S')

    # Convert datetime to timestamp (Unix) in milisecond resolution
    df['Timestamp'] = df.Date.values.astype(np.int64) // 10 ** 9 *1000

    #df['Converted Date'] = pd.to_datetime(df['Timestamp'], unit='ms')
    #df.head(20)
    #df.info(verbose=True)

    # Add column for Timestampms
    df['Timestampms'] = ""
    df['Timestampms'].replace('','0',inplace=True)
    df["Timestampms"] = df["Timestampms"].astype(np.int64)
    
#     # Add column for interval_ms
#     df['interval_ms'] = ""
#     df['interval_ms'].replace('','0',inplace=True)
#     df["interval_ms"] = df["interval_ms"].astype(np.int64)
#     #df.info(verbose=True)

    # # Create empty dataframe
    # df2 = pd.DataFrame(data=None, columns=df.columns)

    # list_df = []
    # list_df.append(df2)
    #Iterate through unique Timestamp - Add milisecond to Machine Time
    for item in sorted(df["Timestamp"].unique()):
        #timestamp_df = df.query('Timestamp==@item')
        timestamp_df = df.loc[df['Timestamp'] == item]
        # For every Timestamp (1000 millisecond), find the interval
        interval_ms = round(1000 / timestamp_df.shape[0])
        counter = 0
        for index, row in timestamp_df.iterrows():
            #print(index)
            df.loc[index,'Timestampms'] = row.Timestamp + counter*interval_ms
            #df.loc[index,'interval_ms'] = interval_ms
            counter += 1
    
    #list_df.append(timestamp_df)
    return df

def preprocess_real_time(df):
    """Return a dataframe
    
    Convert Real Time (Columns 'Hour', 'Minute', Second) to datetime.time with Millisecond Resolution
    """
    # Combine Hours Minutes and Seconds to datetime
    #df['Millisecond'] = ""
    df['Realtime'] = ""
    df['Realtime'].replace('','0',inplace=True)
    df["Realtime"] = df["Realtime"].astype(np.int64)
    df['Realtime'] = df.apply(lambda row: 
                              datetime.datetime.combine(row.Date.date(), datetime.time(row.Hour, row.Minute, row.Second)), 
                              axis=1)
    # Convert Date object (mm/dd/yyyy hh:mm:ss)to datetime type
    df['Realtime'] = pd.to_datetime(df['Realtime'], format='%m/%d/%Y %H:%M:%S')

    # Convert datetime to timestamp (Unix) in milisecond resolution
    df['Real_Timestamp'] = df.Realtime.values.astype(np.int64) // 10 ** 9 *1000
    
    #df.info(verbose=True)
    
    # Add column for Real_Time Timestampms
    df['Real_Timestampms'] = ""
    df['Real_Timestampms'].replace('','0',inplace=True)
    df["Real_Timestampms"] = df["Real_Timestampms"].astype(np.int64)

    #Iterate through unique Real_Timestamp - Add milisecond to Real Time
    for item in sorted(df["Real_Timestamp"].unique()):
        #timestamp_df = df.query('Timestamp==@item')
        real_timestamp_df = df.loc[df['Real_Timestamp'] == item]
        # For every Timestamp (1000 millisecond), find the interval
        interval_ms = round(1000 / real_timestamp_df.shape[0])
        counter = 0
        for index, row in real_timestamp_df.iterrows():
            #print(index)
            df.loc[index,'Real_Timestampms'] = row.Real_Timestamp + counter*interval_ms
            counter += 1
    
    
#     #Iterate through unique Realtime - Add milisecond to Real Time
#     for item in sorted(df['Realtime'].unique()):
#         realtime_df = df.loc[df['Realtime'] == item]
#         # For every realtime (1000 millisecond), find the interval
#         interval_ms = 1000 / realtime_df.shape[0]
#         counter = 0
#         for index, row in realtime_df.iterrows():
#             # Retrieve Date from Date column
#             date = df.loc[index,'Date'].date()
#             #df.loc[index,'Millisecond'] = counter*interval_ms
#             # Get Real Time with Millisecond resolution
#             date_time_obj = datetime.datetime.combine(date,df.loc[index,'Realtime']) + datetime.timedelta(milliseconds=counter*interval_ms)
#             # Convert Date time object to string
#             date_time_str = date_time_obj.strftime('%m-%d-%Y  %H:%M:%S.%f')
            
#             date_time = pd.to_datetime(date_time_obj, format='%m/%d/%Y  %H:%M:%S.%f')
#             df.loc[index,'Realtime'] = date_time
#             df.loc[index,'Real_Timestampms'] =  date_time_obj.timestamp() * 1000
#             counter += 1
                          
    # Convert Real_Time to timestamp (Unix) in milisecond resolution
    #f.index = pd.DatetimeIndex(df['Realtime'])
    #f['Real_Timestampms']= df.index.astype(np.int64)// 10**9 *1000
    #f = df.reset_index(drop=True)
    #df['Real_Timestampms'] = df.Realtime.values.timestamp()
    
    return df

In [ ]:
# Read files from ATO Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_ATO/'
ATO_file_list = os.listdir(path)
sorted(ATO_file_list)
print(ATO_file_list)
# Read & Clean the first ATO .txt
df = pd.read_csv(path + ATO_file_list[0], sep="\t")
df = clean_dataframe(df)

# Preprocess Machine Time
df = preprocess_machine_time(df)
#df2 = pd.concat(list_df) # Concat a list of dataframes is faster than appending individual dataframes
# Preprocess Real Time
df = preprocess_real_time(df)
# Drop Date, Timestamp & Real Time Timestamp Columns
df.drop(['Date', 'Timestamp', 'Realtime','Real_Timestamp'], inplace=True, axis=1)
    
# Add Prefix to Columns name (ATO_***)
df = df.add_prefix('ATO_')
# Rename ATO_Timestampms to the column Timestampms 
df.rename(columns = {"ATO_Timestampms": "Timestampms"},  inplace = True) 
# Shift Timestampms to first column
df = df[ ['ATO_Real_Timestampms'] + [ col for col in df.columns if col != 'ATO_Real_Timestampms' ] ]
df = df[ ['Timestampms'] + [ col for col in df.columns if col != 'Timestampms' ] ]
df.head(20)
# Note that there are 280 columns belonging to ATO

['200116_05_00_00_333_OMAP_ATO.txt', '200116_06_00_00_333_OMAP_ATO.txt', '200116_07_00_00_333_OMAP_ATO.txt']
Number of null value entry =  0

In [ ]:
# Read files from ATP Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_ATP/'
ATP_file_list = os.listdir(path)
sorted(ATP_file_list)
print(ATP_file_list)

# Read & Clean the first ATP .txt
df_ATP = pd.read_csv(path + ATP_file_list[0], sep="\t")
df_ATP = clean_dataframe(df_ATP)

# Preprocess Machine Time
df_ATP = preprocess_machine_time(df_ATP)
# Drop Timestamp Columns
df_ATP.drop(['Date', 'Timestamp'], inplace=True, axis=1)

# Add Prefix to Columns name (ATP_***)
df_ATP = df_ATP.add_prefix('ATP_')
# Rename ATP_Timestampms to the column Timestampms 
df_ATP.rename(columns = {"ATP_Timestampms": "Timestampms"},  inplace = True) 
df_ATP.head(20)
# print(df_ATP['Timestampms'][0], df_ATP['Timestamp'][0])
# print(df_ATP['Timestampms'][1], df_ATP['Timestamp'][1])
# print(df_ATP['Timestampms'][2], df_ATP['Timestamp'][2])
# print(df_ATP['Timestampms'][3], df_ATP['Timestamp'][3])
# print(df_ATP['Timestampms'][4], df_ATP['Timestamp'][4])
# print(df_ATP['Timestampms'][5], df_ATP['Timestamp'][5])

In [ ]:
# Merge ATP Dataframe to ATO Dataframe with same Timestampms
df_result = pd.merge_ordered(df, df_ATP, how='outer', on='Timestampms')
# Sort merged Dataframe based on Timestampms
#df_result = df_result.sort_values(by=['Timestampms'])
#df_result.info(verbose=True)
#df_result.head()

#Output to CSV
df_result.to_csv('./result.csv', index=False, header=True)

In [ ]:
def nearest(lst, K):
    """Return a index for the closest value
    
    Find the closest value inside the list
    """
    return min(range(len(lst)), key = lambda i: abs(lst[i]-K)) 

def calculate_ATO_real_timestampms(x):
    """Return ATO Real Time and nearest index
    
    With the unmapped ATP machine time, we need to calculate it's equivalent ATO Real Time by
    finding the closest ATO machine time
    """
    if(pd.isnull(x['ATO_Real_Timestampms'])):
        if x.name == 0:
            # The closest is the next index
            x['nearest_index'] = 1
            x['ATO_Real_Timestampms'] = abs(df_result.loc[x.name+1,'Timestampms'] - df_result.loc[x.name,'Timestampms']) + df_result.loc[x.name+1,'ATO_Real_Timestampms']
            
        else:
            # Find the closest between the index before and after
            difference_before = df_result.loc[x.name-1,'Timestampms']
            difference_after = df_result.loc[x.name+1,'Timestampms']
            index_timestampms = df_result.loc[x.name,'Timestampms']
            difference_list = [difference_before, difference_after]
            # Find nearest index
            nearest_index = nearest(difference_list, index_timestampms)
            x['nearest_index'] = nearest_index
            if nearest_index == 0:
                # Compute ATO Real Time - if nearest_index is the index before, take difference between the two Machine time
                # and add it to the equivalent ATO real time to preseve the ATP's time interval
                x['ATO_Real_Timestampms'] = abs(index_timestampms - difference_before) + df_result.loc[x.name-1,'ATO_Real_Timestampms']
            else:
                # Compute ATO Real Time - if nearest_index is the index after, take difference between the two Machine time
                # and add it to the equivalent ATO real time to preseve the ATP's time interval
                x['ATO_Real_Timestampms'] = abs(difference_after - index_timestampms) + df_result.loc[x.name+1,'ATO_Real_Timestampms']
            
    
    return pd.Series([x['ATO_Real_Timestampms'], x['nearest_index']])

def indicate_switch(x):
    """Return nearest index
    
    With previous row's nearest_index indicating 1 (needs to be switched after the index after),
    set the current row's nearest_index as 2
    """
    if(x.name>0):
        if df_result.loc[x.name-1,'nearest_index'] == 1:
            x['nearest_index'] = 2
    
    return x['nearest_index']

def switch_row_position(x):
    """Return dataframe
    
    Retrieve row based on nearest_index to perform switching of row when required
    """
    if(x['nearest_index']==1):
        #if nearest_index is the index after, switch
        return df_result.iloc[x.name+1]
    elif(x['nearest_index']==2):
        return df_result.iloc[x.name-1]
    else:
        #if nearest_index is the index before, remain the order
        return df_result.iloc[x.name]

# Nearest_index to indicate switch condition 0: Remain, 1:Take index after, 2: Take index before
df_result['nearest_index'] = ""

starttime = timeit.default_timer()

# Compute ATP real time and map it onto ATO while maintaining the ATP's time interval
df_result[['ATO_Real_Timestampms', 'nearest_index']] = df_result.progress_apply(calculate_ATO_real_timestampms, axis=1)
# Indicate which row needs to be switched
df_result['nearest_index'] = df_result.progress_apply(indicate_switch, axis=1)
# Switch row position 
df_result = df_result.progress_apply(switch_row_position, axis=1)
# Sort Machine Time
df_result['Timestampms'] = df_result['Timestampms'].sort_values().values
# Drop nearest_index Columns
df_result.drop('nearest_index', inplace=True, axis=1)

# starttime = timeit.default_timer()
# # Need to optimize this. Taking too long
# # Compute ATP Real TIME and Map it to ATO
# for index in df_result[df_result['ATO_Real_Timestampms'].isnull()].index.tolist():
#     if index == 0:
#         # the closest is the next one
#         break
#     else:
#         # Find the closest between the before and after of the index
#         difference_before = df_result.loc[index-1,'Timestampms']
#         difference_after = df_result.loc[index+1,'Timestampms']
#         index_timestampms = df_result.loc[index,'Timestampms']
#         difference_list = [difference_before, difference_after]
#         nearest_index = nearest(difference_list, index_timestampms)
#         #if nearest_index is before, remain the order
#         if nearest_index == 0:
#             df_result.loc[index,'ATO_Real_Timestampms'] = abs(index_timestampms - difference_before) + df_result.loc[index-1,'ATO_Real_Timestampms']
#         else:
#             df_result.loc[index,'ATO_Real_Timestampms'] = abs(difference_after - index_timestampms) + df_result.loc[index+1,'ATO_Real_Timestampms']
#             # Flip row between index and index+1
#             #df_result.iloc[index:index+2] = np.flip(df_result.to_numpy()[index:index+2], axis=0)
#             index_row, index_after_row = df_result.iloc[index].copy(), df_result.iloc[index+1].copy()
#             df_result.iloc[index], df_result.iloc[index+1] = index_after_row, index_row
        
#         #print(nearest_index)
        
print("Time Taken:", timeit.default_timer() - starttime)
df_result.to_csv('./result_1.csv', index=False, header=True)
df_result.head(20)

In [ ]:
# Read files from COM Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_COM/'
COM_file_list = os.listdir(path)
sorted(COM_file_list)
print(COM_file_list)

# Read & Clean the first ATP .txt
df_COM = pd.read_csv(path + COM_file_list[0], sep="\t")
df_COM = clean_dataframe(df_COM)

# Preprocess Machine Time
df_COM = preprocess_machine_time(df_COM)
# Drop Date & Timestamp Columns
df_COM.drop(['Date', 'Timestamp'], inplace=True, axis=1)

# Add Prefix to Columns name (COM_***)
df_COM = df_COM.add_prefix('COM_')
# Rename COM_Timestampms to the column Timestampms 
df_COM.rename(columns = {"COM_Timestampms": "Timestampms"},  inplace = True) 
df_COM.head(20)

In [ ]:
# Merge COM Dataframe to result Dataframe with same Timestampms
df_result = pd.merge_ordered(df_result, df_COM, how='outer', on='Timestampms')
# Sort merged Dataframe based on Timestampms
#df_result = df_result.sort_values(by=['Timestampms'])
#df_result.info(verbose=True)
df_result.head()

#Output to CSV
df_result.to_csv('./result_2.csv', index=False, header=True)

In [9]:
# Read files from TDMS Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_TDMS/'
TDMS_file_list = os.listdir(path)
sorted(TDMS_file_list)
print(TDMS_file_list)

# Read & Clean the first ATP .txt
df_TDMS = pd.read_csv(path + TDMS_file_list[0], sep="\t")
df_TDMS = clean_dataframe(df_TDMS)

# Preprocess Machine Time
df_TDMS = preprocess_machine_time(df_TDMS)

# Add Prefix to Columns name (TDMS_***)
df_TDMS = df_TDMS.add_prefix('TDMS_')
# Rename ATP_Timestampms to the column Timestampms 
df_TDMS.rename(columns = {"TDMS_Timestampms": "Timestampms"},  inplace = True) 

df_TDMS.head(35)

['200116_05_00_00_333_OMAP_TDMS.txt', '200116_06_00_00_333_OMAP_TDMS.txt', '200116_07_00_00_333_OMAP_TDMS.txt']
Number of null value entry =  0

,TDMS_Date,TDMS_General Data,TDMS_Software type,TDMS_TDMS version,TDMS_Patch,TDMS_CheckSum,TDMS_ATP version,TDMS_ATO version,TDMS_dCOM version,TDMS_ICM version,...,TDMS_+,TDMS_ATP Next ST Code,TDMS_DRMD_STCD,TDMS_DRMD_STA,TDMS_DRMD_STSK,TDMS_DRMD_STOV,TDMS_DOSD_right,TDMS_DOSD_left,TDMS_Timestamp,Timestampms
0,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400000
1,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400100
2,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400200
3,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400300
4,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400400
5,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400500
6,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400600
7,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400700
8,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400800
9,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400900
10,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401000
11,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401100
12,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401200
13,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401300
14,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401400
15,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401500
16,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401600
17,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401700
18,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401800
19,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401900
20,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402000
21,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402091
22,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402182
23,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402273
24,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402364
25,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402455
26,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402546
27,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402637
28,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402728
29,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402819
30,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402910
31,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403000
32,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403111
33,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403222
34,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403333

In [10]:
# Merge TDMS Dataframe to result Dataframe with same Timestampms
df_result = pd.merge_ordered(df_result, df_TDMS, how='outer', on='Timestampms')

#Output to CSV
df_result.to_csv('./result_3.csv', index=False, header=True)

In [17]:
# Compute ATP real time and map it onto ATO while maintaining the ATP's time interval
df_result[['ATO_Real_Timestampms', 'nearest_index']] = df_result.progress_apply(calculate_ATO_real_timestampms, axis=1)
# Indicate which row needs to be switched
df_result['nearest_index'] = df_result.progress_apply(indicate_switch, axis=1)
# Switch row position 
df_result = df_result.progress_apply(switch_row_position, axis=1)

df_result.to_csv('./result_4.csv', index=False, header=True)
df_result.head(20)

100%|██████████████████████████████████████████████████████████████████████████| 50409/50409 [00:20<00:00, 2408.85it/s]
100%|█████████████████████████████████████████████████████████████████████████| 50409/50409 [00:04<00:00, 11603.71it/s]
100%|███████████████████████████████████████████████████████████████████████████| 50409/50409 [01:05<00:00, 764.70it/s]

,Timestampms,ATO_Real_Timestampms,ATO_* General,ATO_ATO status,ATO_Exploitation stat,ATO_Action needed,ATO_Monitoring mode,ATO_Readiness,ATO_Active PCE,ATO_Active cab,...,TDMS_TDDisDoor_2,TDMS_+,TDMS_ATP Next ST Code,TDMS_DRMD_STCD,TDMS_DRMD_STA,TDMS_DRMD_STSK,TDMS_DRMD_STOV,TDMS_DOSD_right,TDMS_DOSD_left,TDMS_Timestamp
0,1579154400000,1.579150e+12,18.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
1,1579154400100,1.579150e+12,19.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
2,1579154400200,1.579150e+12,20.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
3,1579154400250,1.579150e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1579154400300,1.579150e+12,21.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
5,1579154400400,1.579150e+12,0.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
6,1579154400500,1.579150e+12,1.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
7,1579154400600,1.579150e+12,2.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
8,1579154400700,1.579150e+12,3.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
9,1579154400750,1.579150e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1579154400800,1.579150e+12,4.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
11,1579154400900,1.579150e+12,5.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
12,1579154401000,1.579150e+12,6.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
13,1579154401100,1.579150e+12,7.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
14,1579154401200,1.579150e+12,8.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
15,1579154401300,1.579150e+12,9.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
16,1579154401333,1.579150e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1579154401400,1.579150e+12,10.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
18,1579154401500,1.579150e+12,11.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12
19,1579154401600,1.579150e+12,12.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.579154e+12

In [10]:
# Read files from ATO Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_ATO/'
ATO_file_list = os.listdir(path)
sorted(ATO_file_list)
print(ATO_file_list)
# Read & Clean the first ATO .txt
df = pd.read_csv(path + ATO_file_list[0], sep="\t")
df = clean_dataframe(df)

# Preprocess Machine Time
df = preprocess_machine_time(df)
#df2 = pd.concat(list_df) # Concat a list of dataframes is faster than appending individual dataframes
# Preprocess Real Time
df = preprocess_real_time(df)
# Drop Date, Timestamp & Real Time Timestamp Columns
df.drop(['Date', 'Timestamp', 'Realtime','Real_Timestamp'], inplace=True, axis=1)
    
# Add Prefix to Columns name (ATO_***)
df = df.add_prefix('ATO_')
# Rename ATO_Timestampms to the column Timestampms 
df.rename(columns = {"ATO_Timestampms": "Timestampms"},  inplace = True) 
# Shift Timestampms to first column
df = df[ ['ATO_Real_Timestampms'] + [ col for col in df.columns if col != 'ATO_Real_Timestampms' ] ]
df = df[ ['Timestampms'] + [ col for col in df.columns if col != 'Timestampms' ] ]
df.head(20)
# Note that there are 280 columns belonging to ATO

['200116_05_00_00_333_OMAP_ATO.txt', '200116_06_00_00_333_OMAP_ATO.txt', '200116_07_00_00_333_OMAP_ATO.txt']
Number of null value entry =  0

,Timestampms,ATO_Real_Timestampms,ATO_* General,ATO_ATO status,ATO_Exploitation stat,ATO_Action needed,ATO_Monitoring mode,ATO_Readiness,ATO_Active PCE,ATO_Active cab,...,ATO_IT count+,ATO_Fnct label,ATO_Fnct duration,ATO_* Buffer,ATO_Branch buffer full,ATO_Item buffer full,ATO_* Characterisation,ATO_Charact state,ATO_Charact scenario,ATO_New charact order
0,1579154400000,1579149881000,18,1,0,1,0,7,1,1,...,31,10,1.3,18,0,0,18,0,0,0
1,1579154400100,1579149881100,19,1,0,1,0,7,1,1,...,31,11,0.4,19,0,0,19,0,0,0
2,1579154400200,1579149881200,20,1,0,1,0,7,1,1,...,31,12,0.0,20,0,0,20,0,0,0
3,1579154400300,1579149881300,21,1,0,1,0,7,1,1,...,31,13,0.0,21,0,0,21,0,0,0
4,1579154400400,1579149881400,0,1,0,1,0,7,1,1,...,31,14,0.0,0,0,0,0,0,0,0
5,1579154400500,1579149881500,1,1,0,1,0,7,1,1,...,31,15,0.0,1,0,0,1,0,0,0
6,1579154400600,1579149881600,2,1,0,1,0,7,1,1,...,31,16,0.1,2,0,0,2,0,0,0
7,1579154400700,1579149881700,3,1,0,1,0,7,1,1,...,31,17,0.1,3,0,0,3,0,0,0
8,1579154400800,1579149881800,4,1,0,1,0,7,1,1,...,31,18,0.1,4,0,0,4,0,0,0
9,1579154400900,1579149881900,5,1,0,1,0,7,1,1,...,31,19,0.0,5,0,0,5,0,0,0
10,1579154401000,1579149882000,6,1,0,1,0,7,1,1,...,31,20,1.9,6,0,0,6,0,0,0
11,1579154401100,1579149882100,7,1,0,1,0,7,1,1,...,31,21,0.1,7,0,0,7,0,0,0
12,1579154401200,1579149882200,8,1,0,1,0,7,1,1,...,31,22,0.3,8,0,0,8,0,0,0
13,1579154401300,1579149882300,9,1,0,1,0,7,1,1,...,31,23,0.6,9,0,0,9,0,0,0
14,1579154401400,1579149882400,10,1,0,1,0,7,1,1,...,31,24,0.0,10,0,0,10,0,0,0
15,1579154401500,1579149882500,11,1,0,1,0,7,1,1,...,31,25,0.4,11,0,0,11,0,0,0
16,1579154401600,1579149882600,12,1,0,1,0,7,1,1,...,31,26,0.2,12,0,0,12,0,0,0
17,1579154401700,1579149882700,13,1,0,1,0,7,1,1,...,31,27,0.0,13,0,0,13,0,0,0
18,1579154401800,1579149882800,14,1,0,1,0,7,1,1,...,31,28,0.0,14,0,0,14,0,0,0
19,1579154401900,1579149882900,15,1,0,1,0,7,1,1,...,31,29,0.1,15,0,0,15,0,0,0

In [5]:
# Read files from TDMS Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_TDMS/'
TDMS_file_list = os.listdir(path)
sorted(TDMS_file_list)
print(TDMS_file_list)

# Read & Clean the first ATP .txt
df_TDMS = pd.read_csv(path + TDMS_file_list[0], sep="\t")
df_TDMS = clean_dataframe(df_TDMS)

# Preprocess Machine Time
df_TDMS = preprocess_machine_time(df_TDMS)

# Add Prefix to Columns name (TDMS_***)
df_TDMS = df_TDMS.add_prefix('TDMS_')
# Rename ATP_Timestampms to the column Timestampms 
df_TDMS.rename(columns = {"TDMS_Timestampms": "Timestampms"},  inplace = True) 

df_TDMS.head(35)

['200116_05_00_00_333_OMAP_TDMS.txt', '200116_06_00_00_333_OMAP_TDMS.txt', '200116_07_00_00_333_OMAP_TDMS.txt']
Number of null value entry =  0

,TDMS_Date,TDMS_General Data,TDMS_Software type,TDMS_TDMS version,TDMS_Patch,TDMS_CheckSum,TDMS_ATP version,TDMS_ATO version,TDMS_dCOM version,TDMS_ICM version,...,TDMS_+,TDMS_ATP Next ST Code,TDMS_DRMD_STCD,TDMS_DRMD_STA,TDMS_DRMD_STSK,TDMS_DRMD_STOV,TDMS_DOSD_right,TDMS_DOSD_left,TDMS_Timestamp,Timestampms
0,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400000
1,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400100
2,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400200
3,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400300
4,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400400
5,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400500
6,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400600
7,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400700
8,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400800
9,2020-01-16 06:00:00,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154400000,1579154400900
10,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401000
11,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401100
12,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401200
13,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401300
14,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401400
15,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401500
16,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401600
17,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401700
18,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401800
19,2020-01-16 06:00:01,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154401000,1579154401900
20,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402000
21,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402091
22,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402182
23,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402273
24,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402364
25,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402455
26,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402546
27,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402637
28,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402728
29,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402819
30,2020-01-16 06:00:02,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154402000,1579154402910
31,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403000
32,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403111
33,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403222
34,2020-01-16 06:00:03,1,5,197126,0,691390787,196616,262931,131334,1,...,0,0,0,0,0,0,0,0,1579154403000,1579154403333

In [7]:
# Merge TDMS Dataframe to result Dataframe with same Timestampms
df_result = pd.merge_ordered(df, df_TDMS, how='outer', on='Timestampms')

def nearest(lst, K):
    """Return a index for the closest value
    
    Find the closest value inside the list
    """
    return min(range(len(lst)), key = lambda i: abs(lst[i]-K)) 

def calculate_ATO_real_timestampms(x):
    """Return ATO Real Time and nearest index
    
    With the unmapped ATP machine time, we need to calculate it's equivalent ATO Real Time by
    finding the closest ATO machine time
    """
    if(pd.isnull(x['ATO_Real_Timestampms'])):
        if x.name == 0:
            # The closest is the next index
            x['nearest_index'] = 1
            x['ATO_Real_Timestampms'] = abs(df_result.loc[x.name+1,'Timestampms'] - df_result.loc[x.name,'Timestampms']) + df_result.loc[x.name+1,'ATO_Real_Timestampms']
            
        else:
            # Find the closest between the index before and after
            difference_before = df_result.loc[x.name-1,'Timestampms']
            difference_after = df_result.loc[x.name+1,'Timestampms']
            index_timestampms = df_result.loc[x.name,'Timestampms']
            difference_list = [difference_before, difference_after]
            # Find nearest index
            nearest_index = nearest(difference_list, index_timestampms)
            x['nearest_index'] = nearest_index
            if nearest_index == 0:
                # Compute ATO Real Time - if nearest_index is the index before, take difference between the two Machine time
                # and add it to the equivalent ATO real time to preseve the ATP's time interval
                x['ATO_Real_Timestampms'] = abs(index_timestampms - difference_before) + df_result.loc[x.name-1,'ATO_Real_Timestampms']
            else:
                # Compute ATO Real Time - if nearest_index is the index after, take difference between the two Machine time
                # and add it to the equivalent ATO real time to preseve the ATP's time interval
                x['ATO_Real_Timestampms'] = abs(difference_after - index_timestampms) + df_result.loc[x.name+1,'ATO_Real_Timestampms']
            
    
    return pd.Series([x['ATO_Real_Timestampms'], x['nearest_index']])

def indicate_switch(x):
    """Return nearest index
    
    With previous row's nearest_index indicating 1 (needs to be switched after the index after),
    set the current row's nearest_index as 2
    """
    if(x.name>0):
        if df_result.loc[x.name-1,'nearest_index'] == 1:
            x['nearest_index'] = 2
    
    return x['nearest_index']

def switch_row_position(x):
    """Return dataframe
    
    Retrieve row based on nearest_index to perform switching of row when required
    """
    if(x['nearest_index']==1):
        #if nearest_index is the index after, switch
        return df_result.iloc[x.name+1]
    elif(x['nearest_index']==2):
        return df_result.iloc[x.name-1]
    else:
        #if nearest_index is the index before, remain the order
        return df_result.iloc[x.name]

# Nearest_index to indicate switch condition 0: Remain, 1:Take index after, 2: Take index before
df_result['nearest_index'] = ""

starttime = timeit.default_timer()

# Compute ATP real time and map it onto ATO while maintaining the ATP's time interval
df_result[['ATO_Real_Timestampms', 'nearest_index']] = df_result.progress_apply(calculate_ATO_real_timestampms, axis=1)
# Indicate which row needs to be switched
df_result['nearest_index'] = df_result.progress_apply(indicate_switch, axis=1)
# Switch row position 
df_result = df_result.progress_apply(switch_row_position, axis=1)
# Sort Machine Time
df_result['Timestampms'] = df['Timestampms'].sort_values().values

# starttime = timeit.default_timer()
# # Need to optimize this. Taking too long
# # Compute ATP Real TIME and Map it to ATO
# for index in df_result[df_result['ATO_Real_Timestampms'].isnull()].index.tolist():
#     if index == 0:
#         # the closest is the next one
#         break
#     else:
#         # Find the closest between the before and after of the index
#         difference_before = df_result.loc[index-1,'Timestampms']
#         difference_after = df_result.loc[index+1,'Timestampms']
#         index_timestampms = df_result.loc[index,'Timestampms']
#         difference_list = [difference_before, difference_after]
#         nearest_index = nearest(difference_list, index_timestampms)
#         #if nearest_index is before, remain the order
#         if nearest_index == 0:
#             df_result.loc[index,'ATO_Real_Timestampms'] = abs(index_timestampms - difference_before) + df_result.loc[index-1,'ATO_Real_Timestampms']
#         else:
#             df_result.loc[index,'ATO_Real_Timestampms'] = abs(difference_after - index_timestampms) + df_result.loc[index+1,'ATO_Real_Timestampms']
#             # Flip row between index and index+1
#             #df_result.iloc[index:index+2] = np.flip(df_result.to_numpy()[index:index+2], axis=0)
#             index_row, index_after_row = df_result.iloc[index].copy(), df_result.iloc[index+1].copy()
#             df_result.iloc[index], df_result.iloc[index+1] = index_after_row, index_row
        
#         #print(nearest_index)
        
print("Time Taken:", timeit.default_timer() - starttime)
#Output to CSV
df_result.to_csv('./result_5.csv', index=False, header=True)

100%|██████████████████████████████████████████████████████████████████████████| 43482/43482 [00:13<00:00, 3331.46it/s]
100%|█████████████████████████████████████████████████████████████████████████| 43482/43482 [00:02<00:00, 20119.50it/s]
100%|██████████████████████████████████████████████████████████████████████████| 43482/43482 [00:33<00:00, 1293.75it/s]

Time Taken: 49.31314359999942

In [8]:
# Read files from ATP Directory
path = './T20 OMAP DATA/Train 20 CSV/Car 39/200116/OMAP_ATP/'
ATP_file_list = os.listdir(path)
sorted(ATP_file_list)
print(ATP_file_list)

# Read & Clean the first ATP .txt
df_ATP = pd.read_csv(path + ATP_file_list[0], sep="\t")
df_ATP = clean_dataframe(df_ATP)

# Preprocess Machine Time
df_ATP = preprocess_machine_time(df_ATP)
# Drop Timestamp Columns
df_ATP.drop(['Date', 'Timestamp'], inplace=True, axis=1)

# Add Prefix to Columns name (ATP_***)
df_ATP = df_ATP.add_prefix('ATP_')
# Rename ATP_Timestampms to the column Timestampms 
df_ATP.rename(columns = {"ATP_Timestampms": "Timestampms"},  inplace = True)

['200116_05_00_00_333_OMAP_ATP.txt', '200116_06_00_00_333_OMAP_ATP.txt', '200116_07_00_00_333_OMAP_ATP.txt']
Number of null value entry =  0

In [9]:
# Merge ATP Dataframe to result Dataframe with same Timestampms
df_result = pd.merge_ordered(df_result, df_ATP, how='outer', on='Timestampms')

#Output to CSV
df_result.to_csv('./result_6.csv', index=False, header=True)

# Compute ATP real time and map it onto ATO while maintaining the ATP's time interval
df_result[['ATO_Real_Timestampms', 'nearest_index']] = df_result.progress_apply(calculate_ATO_real_timestampms, axis=1)
# Indicate which row needs to be switched
df_result['nearest_index'] = df_result.progress_apply(indicate_switch, axis=1)
# Switch row position 
df_result = df_result.progress_apply(switch_row_position, axis=1)

df_result.to_csv('./result_7.csv', index=False, header=True)
df_result.head(20)

100%|██████████████████████████████████████████████████████████████████████████| 48847/48847 [00:22<00:00, 2188.85it/s]
100%|██████████████████████████████████████████████████████████████████████████| 48847/48847 [00:05<00:00, 8181.80it/s]
100%|███████████████████████████████████████████████████████████████████████████| 48847/48847 [01:08<00:00, 714.78it/s]

,Timestampms,ATO_Real_Timestampms,ATO_* General,ATO_ATO status,ATO_Exploitation stat,ATO_Action needed,ATO_Monitoring mode,ATO_Readiness,ATO_Active PCE,ATO_Active cab,...,ATP_ImmoDde,ATP_OrientLoc N,ATP_ZVRD_Datp,ATP_OrientLoc S,ATP_ZVBA_DCom,ATP_Orient Cab N,ATP_ZVRD_calc,ATP_Orient Cab S,ATP_TIRPODem_L,ATP_tracecl
0,1579154400000,1.579150e+12,18.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1579154400100,1.579150e+12,19.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1579154400200,1.579150e+12,20.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1579154400250,1.579150e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1579154400300,1.579150e+12,21.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1579154400400,1.579150e+12,0.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1579154400500,1.579150e+12,1.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,1579154400600,1.579150e+12,2.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1579154400700,1.579150e+12,3.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1579154400750,1.579150e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,1579154400800,1.579150e+12,4.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1579154400900,1.579150e+12,5.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1579154401000,1.579150e+12,6.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,1579154401100,1.579150e+12,7.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1579154401200,1.579150e+12,8.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1579154401300,1.579150e+12,9.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1579154401333,1.579150e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,1579154401400,1.579150e+12,10.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1579154401500,1.579150e+12,11.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1579154401600,1.579150e+12,12.0,1.0,0.0,1.0,0.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# import pyspark
# from pyspark import SparkContext, SparkConf
# from pyspark.sql import SparkSession
# conf = pyspark.SparkConf().setAppName("Preprocessing").setMaster("local")
# sc = pyspark.SparkContext(conf=conf)
# spark = SparkSession(sc)
# spark_df = spark.createDataFrame(df)

# # Add column for Timestampms
# spark_df = spark_df.withColumn("Timestampms", lit(0).cast(LongType()))
# type(spark_df)


# #spark_df.show()
# #spark_df.printSchema()
# #spark_df.select("Timestamp").show()
# #type(spark_df)
# # Create new empty dataframe
# #new_spark_df = spark.createDataFrame(spark.sparkContext.emptyRDD(),spark_df.schema)
# #new_spark_df.printSchema()

# def customFunction(row, interval_ms):
#     global acc
#     row.Timestampms = row.Timestamp + acc*interval_ms
#     acc += 1
#     return Row

# #Iterate through unique Timestamp - Add milisecond to Machine Time
# for row in spark_df.select("Timestamp").distinct().sort("Timestamp").collect():
#     results_rows_df = spark_df.filter(spark_df.Timestamp == row.Timestamp)
#     #result_rows = spark_df.filter(spark_df.Timestamp == row.Timestamp).collect()
#     print(row.Timestamp)
#     # For every Timestamp (1000 millisecond), find the interval
#     interval_ms = 1000 / results_rows_df.count()
#     counter = 0
#     interval_list = []
#     print(type(spark_df.select("Timestamp").distinct().sort("Timestamp")))
    
#     acc = sc.accumulator(0)
#     #sample2 = results_rows_df.rdd.map(customFunction(interval_ms))
#     sample2 = results_rows_df.rdd.map(lambda x: customFunction(x,interval_ms))
#     df = spark.createDataFrame(sample2)
#     print(type(sample2))
#     df.show()
#     for result_row in results_rows_df.collect():
#         result_row = result_row.withColumn("Timestampms", col("Timestamp") + counter*interval_ms)
        
#         # STOP AT assigning value to row
        
#         #print(type(result_row))
#         #result_row.withColumn()
#         interval_list.append(row.Timestamp + 
)
#         counter += 1
#         #result_rows
#     #spark_df=spark_df.withColumn("Timestampms",when(col("Timestamp")==row.Timestamp,interval_list))
#     #print(len(result_rows))
    
#     results_rows_df.select("Timestampms").show()    
    
    
    
#     #for result_row in result_rows:
#         #print (result_row)

# #for row in spark_df.rdd.collect():
#     #print(row['Timestamp'])
    
# # Add miliisecond to Real Time