In [1]:
import timeit
import omap

C:\ProgramData\Anaconda3\lib\site-packages\tqdm\std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
starttime = timeit.default_timer()
# input_folder_path =  './T20 OMAP DATA/Train 20 CSV/'
# #input_folder_path =  './test_folder/Train 19 CSV/'
# #Machine Time of interest ('%Y/%m/%d %H:%M:%S')
# start_time = '2020/01/16 05:00:00' 
# end_time = '2020/01/16 08:00:00'

# Machine Time of interest ('%m/%d/%Y %H:%M:%S')
# start_time = '01/16/2020 07:00:00' 
# end_time = '01/16/2020 08:00:00'
#sample_output_filename = ['./OMAP_Train_20_Car_39_20200116_0600_to_20200116_0700.csv']
#sample_output_filename = ['./OMAP_Train_20_Car_39_20200116_0700_to_20200116_0800.csv']
#sample_output_filename = ['./OMAP_Train_20_Car_39_20200116_0500_to_20200116_0800.csv']


# input_folder_path = './dataset/Train 23 14NOV2019 Work Folder/raw logs'
# start_time = '2019/11/14 17:00:00' 
# end_time = '2019/11/14 18:00:00'
# sample_output_filename = ['./dataset/Train 23 14NOV2019 Work Folder/preprocessing_output/OMAP_Train_23_Car_45_20191114_1700_to_20191114_1800.csv',
#                           './dataset/Train 23 14NOV2019 Work Folder/preprocessing_output/OMAP_Train_23_Car_46_20191114_1700_to_20191114_1800.csv']
# sample_output_filename = ['./Train 23 14NOV2019 Work Folder/preprocessing_output/OMAP_Train_23_Car_45_20191114_1700_to_20191114_1800.csv']
#sample_output_filename = ['./Train 23 14NOV2019 Work Folder/preprocessing_output/OMAP_Train_23_Car_45_20191114_1700_to_20191114_2000.csv']


# input_folder_path = './Train 10 26FEB2018 Work Folder/raw_logs/OMAP/Train 10'
# start_time = '2018/02/26 01:00:00' 
# end_time = '2018/02/26 02:00:00' 
# sample_output_filename = ['./Train 10 26FEB2018 Work Folder/preprocessed_output/OMAP_Train_10_Car_19_20180226_0100_to_20180226_0200.csv']

# input_folder_path = './Train 10 22FEB2018 Work Folder/raw_logs/OMAP/Train 10'
# start_time = '2018/02/22 01:00:00' 
# end_time = '2018/02/22 02:00:00' 
# sample_output_filename = ['./Train 10 22FEB2018 Work Folder/preprocessed_output/OMAP_Train_10_Car_19_20180222_0100_to_20180222_0200.csv']

input_folder_path = './dataset/2017_Train18_20170810/raw logs'
start_time = '2017/08/10 05:00:00' 
end_time = '2017/08/10 10:00:00' 
sample_output_filename = ['./dataset/2017_Train18_20170810/preprocessing_output/OMAP_Train_18_Car_35_20170810_0500_to_20170810_1000.csv',
                          './dataset/2017_Train18_20170810/preprocessing_output/OMAP_Train_18_Car_36_20170810_0500_to_20170810_1000.csv']


result_list = omap.process_omap(input_folder_path, start_time, end_time)
print("Time Taken:", timeit.default_timer() - starttime)

for index in range (0, len(result_list)):
    # Unit Test
    omap.unit_test(sample_output_filename[index], 'ATP', result_list[index][0])
    #omap.unit_test(sample_output_filename[index], 'COM', result_list[index][1])
    omap.unit_test(sample_output_filename[index], 'TDMS', result_list[index][2])
    omap.unit_test_all(sample_output_filename[index], result_list[index][3])

OMAP folder exist!
Train folder exist!
---Processing Train 18 Car 35---
---Processing ATO Dataframe---
Number of null value entry =  0
Found non-monotonic sequence at index:  Int64Index([  223,  3679,  3728,  6790,  8682, 10738, 12069, 12516, 12565,
            15675, 15773, 15821, 15870, 15919, 16020, 16069, 16118, 19573,
            19622, 19671, 20756, 20808, 20857, 20906, 24901, 24953, 26349,
            28408, 28457, 28506, 31963, 32012, 35185, 40401, 40450, 40502,
            40551, 40599, 40648, 40697, 40746, 40798, 40847, 43905, 43957,
            44055, 44104, 44152, 44201, 44250, 44302, 44351, 44400, 45483,
            45536, 45585, 45634, 49041, 49090, 49139, 49188, 49237, 52742,
            52791, 52892, 52941, 52990, 53087, 53139, 53188, 53237, 56694,
            56743, 57876, 57925, 57977, 58026, 58075, 58124],
           dtype='int64')
[Timestamp('2017-08-10 04:50:35'), Timestamp('2017-08-10 04:50:36')]
[15, 15]
[Timestamp('2017-08-10 04:56:28'), Timestamp('2017-08-10 04:56:29')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 04:56:33'), Timestamp('2017-08-10 04:56:34')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:01:46'), Timestamp('2017-08-10 05:01:47')]
[14, 13]
[14, 13]
[Timestamp('2017-08-10 05:04:59'), Timestamp('2017-08-10 05:05:00')]
[16, 16]
[Timestamp('2017-08-10 05:08:29'), Timestamp('2017-08-10 05:08:30')]
[17, 17]
[Timestamp('2017-08-10 05:10:45'), Timestamp('2017-08-10 05:10:46')]
[15, 15]
[Timestamp('2017-08-10 05:11:30'), Timestamp('2017-08-10 05:11:31')]
[15, 15]
[Timestamp('2017-08-10 05:11:35'), Timestamp('2017-08-10 05:11:36')]
[18, 17]
[18, 17]
[Timestamp('2017-08-10 05:16:53'), Timestamp('2017-08-10 05:16:54')]
[17, 16]
[17, 16]
[Timestamp('2017-08-10 05:17:03'), Timestamp('2017-08-10 05:17:04')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:17:08'), Timestamp('2017-08-10 05:17:09')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:17:13'), Timestamp('2017-08-10 05:17:14')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:17:18'), Timestamp('2017-08-10 05:17:19')]
[17, 16]
[17, 16]
[Timestamp('2017-08-10 05:17:28'), Timestamp('2017-08-10 05:17:29')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:17:33'), Timestamp('2017-08-10 05:17:34')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:17:38'), Timestamp('2017-08-10 05:17:39')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:23:31'), Timestamp('2017-08-10 05:23:32')]
[15, 15]
[Timestamp('2017-08-10 05:23:36'), Timestamp('2017-08-10 05:23:37')]
[15, 15]
[Timestamp('2017-08-10 05:23:41'), Timestamp('2017-08-10 05:23:42')]
[15, 15]
[Timestamp('2017-08-10 05:25:32'), Timestamp('2017-08-10 05:25:33')]
[14, 14]
[Timestamp('2017-08-10 05:25:37'), Timestamp('2017-08-10 05:25:38')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:25:42'), Timestamp('2017-08-10 05:25:43')]
[15, 15]
[Timestamp('2017-08-10 05:25:47'), Timestamp('2017-08-10 05:25:48')]
[17, 17]
[Timestamp('2017-08-10 05:32:35'), Timestamp('2017-08-10 05:32:36')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:32:40'), Timestamp('2017-08-10 05:32:41')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:35:03'), Timestamp('2017-08-10 05:35:04')]
[16, 16]
[Timestamp('2017-08-10 05:38:33'), Timestamp('2017-08-10 05:38:34')]
[15, 15]
[Timestamp('2017-08-10 05:38:38'), Timestamp('2017-08-10 05:38:39')]
[14, 14]
[Timestamp('2017-08-10 05:38:43'), Timestamp('2017-08-10 05:38:44')]
[15, 15]
[Timestamp('2017-08-10 05:44:36'), Timestamp('2017-08-10 05:44:37')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:44:41'), Timestamp('2017-08-10 05:44:42')]
[14, 14]
[Timestamp('2017-08-10 05:50:05'), Timestamp('2017-08-10 05:50:06')]
[16, 16]
[Timestamp('2017-08-10 05:58:58'), Timestamp('2017-08-10 05:58:59')]
[16, 16]
[Timestamp('2017-08-10 05:59:03'), Timestamp('2017-08-10 05:59:04')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:59:08'), Timestamp('2017-08-10 05:59:09')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:59:13'), Timestamp('2017-08-10 05:59:14')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:59:18'), Timestamp('2017-08-10 05:59:19')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:59:23'), Timestamp('2017-08-10 05:59:24')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:59:28'), Timestamp('2017-08-10 05:59:29')]
[15, 15]
[Timestamp('2017-08-10 05:59:33'), Timestamp('2017-08-10 05:59:34')]
[16, 16]
[Timestamp('2017-08-10 05:59:38'), Timestamp('2017-08-10 05:59:39')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 05:59:43'), Timestamp('2017-08-10 05:59:44')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:04:56'), Timestamp('2017-08-10 06:04:57')]
[17, 16]
[17, 16]
[Timestamp('2017-08-10 06:05:01'), Timestamp('2017-08-10 06:05:02')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:05:11'), Timestamp('2017-08-10 06:05:12')]
[15, 15]
[Timestamp('2017-08-10 06:05:16'), Timestamp('2017-08-10 06:05:17')]
[15, 15]
[Timestamp('2017-08-10 06:05:21'), Timestamp('2017-08-10 06:05:22')]
[15, 15]
[Timestamp('2017-08-10 06:05:26'), Timestamp('2017-08-10 06:05:27')]
[16, 16]
[Timestamp('2017-08-10 06:05:31'), Timestamp('2017-08-10 06:05:32')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:05:36'), Timestamp('2017-08-10 06:05:37')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:05:41'), Timestamp('2017-08-10 06:05:42')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:05:46'), Timestamp('2017-08-10 06:05:47')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:07:37'), Timestamp('2017-08-10 06:07:38')]
[16, 16]
[Timestamp('2017-08-10 06:07:42'), Timestamp('2017-08-10 06:07:43')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:07:47'), Timestamp('2017-08-10 06:07:48')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:07:52'), Timestamp('2017-08-10 06:07:53')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:13:40'), Timestamp('2017-08-10 06:13:41')]
[15, 15]
[Timestamp('2017-08-10 06:13:45'), Timestamp('2017-08-10 06:13:46')]
[15, 15]
[Timestamp('2017-08-10 06:13:50'), Timestamp('2017-08-10 06:13:51')]
[15, 15]
[Timestamp('2017-08-10 06:13:55'), Timestamp('2017-08-10 06:13:56')]
[15, 15]
[Timestamp('2017-08-10 06:14:00'), Timestamp('2017-08-10 06:14:01')]
[17, 17]
[Timestamp('2017-08-10 06:19:58'), Timestamp('2017-08-10 06:19:59')]
[15, 15]
[Timestamp('2017-08-10 06:20:03'), Timestamp('2017-08-10 06:20:04')]
[16, 16]
[Timestamp('2017-08-10 06:20:13'), Timestamp('2017-08-10 06:20:14')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:20:18'), Timestamp('2017-08-10 06:20:19')]
[15, 15]
[Timestamp('2017-08-10 06:20:23'), Timestamp('2017-08-10 06:20:24')]
[17, 17]
[Timestamp('2017-08-10 06:20:33'), Timestamp('2017-08-10 06:20:34')]
[15, 15]
[Timestamp('2017-08-10 06:20:38'), Timestamp('2017-08-10 06:20:39')]
[17, 16]
[17, 16]
[Timestamp('2017-08-10 06:20:43'), Timestamp('2017-08-10 06:20:44')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:20:48'), Timestamp('2017-08-10 06:20:49')]
[15, 15]
[Timestamp('2017-08-10 06:26:41'), Timestamp('2017-08-10 06:26:42')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:26:46'), Timestamp('2017-08-10 06:26:47')]
[15, 14]
[15, 14]
[Timestamp('2017-08-10 06:28:42'), Timestamp('2017-08-10 06:28:43')]
[17, 16]
[17, 16]
[Timestamp('2017-08-10 06:28:47'), Timestamp('2017-08-10 06:28:48')]
[15, 15]
[Timestamp('2017-08-10 06:28:52'), Timestamp('2017-08-10 06:28:53')]
[15, 15]
[Timestamp('2017-08-10 06:28:57'), Timestamp('2017-08-10 06:28:58')]
[15, 15]
[Timestamp('2017-08-10 06:29:02'), Timestamp('2017-08-10 06:29:03')]
[15, 15]
[Timestamp('2017-08-10 06:29:07'), Timestamp('2017-08-10 06:29:08')]
[15, 15]
Int64Index([], dtype='int64')
---Processing ATP Dataframe---
Number of null value entry =  0
---Processing COM Dataframe---
Number of null value entry =  0
---Processing TDMS Dataframe---
Number of null value entry =  0
---Merging Dataframes---

100%|████████████████████████████████████████████████████████████████████████| 207125/207125 [00:37<00:00, 5492.55it/s]
100%|███████████████████████████████████████████████████████████████████████| 207125/207125 [00:06<00:00, 33450.42it/s]
100%|████████████████████████████████████████████████████████████████████████| 207125/207125 [01:39<00:00, 2077.46it/s]

---Merging Dataframes---

100%|████████████████████████████████████████████████████████████████████████| 207190/207190 [00:36<00:00, 5736.61it/s]
100%|███████████████████████████████████████████████████████████████████████| 207190/207190 [00:05<00:00, 38994.45it/s]
100%|████████████████████████████████████████████████████████████████████████| 207190/207190 [01:18<00:00, 2651.76it/s]

---Merging Dataframes---

100%|████████████████████████████████████████████████████████████████████████| 216915/216915 [00:39<00:00, 5526.18it/s]
100%|███████████████████████████████████████████████████████████████████████| 216915/216915 [00:06<00:00, 31857.04it/s]
100%|████████████████████████████████████████████████████████████████████████| 216915/216915 [01:29<00:00, 2417.44it/s]

---Merging all Dataframes (ATO, ATP, COM, TDMS)---
---Processing Train 18 Car 36---
---Processing ATO Dataframe---
Number of null value entry =  0
Found non-monotonic sequence at index:  Int64Index([60033, 64967], dtype='int64')
[Timestamp('2017-08-10 06:28:12'), Timestamp('2017-08-10 06:28:13')]
[16, 16]
[Timestamp('2017-08-10 06:36:34'), Timestamp('2017-08-10 06:36:35')]
[17, 16]
[17, 16]
Int64Index([], dtype='int64')
---Processing ATP Dataframe---
Number of null value entry =  0
---Processing COM Dataframe---
Number of null value entry =  0
---Processing TDMS Dataframe---
Number of null value entry =  0
---Merging Dataframes---

100%|████████████████████████████████████████████████████████████████████████| 206928/206928 [00:38<00:00, 5424.01it/s]
100%|███████████████████████████████████████████████████████████████████████| 206928/206928 [00:06<00:00, 32633.02it/s]
100%|████████████████████████████████████████████████████████████████████████| 206928/206928 [01:41<00:00, 2038.98it/s]

---Merging Dataframes---

100%|████████████████████████████████████████████████████████████████████████| 206974/206974 [00:36<00:00, 5637.92it/s]
100%|███████████████████████████████████████████████████████████████████████| 206974/206974 [00:05<00:00, 39591.02it/s]
100%|████████████████████████████████████████████████████████████████████████| 206974/206974 [01:20<00:00, 2579.74it/s]

---Merging Dataframes---

100%|████████████████████████████████████████████████████████████████████████| 216432/216432 [00:38<00:00, 5602.60it/s]
100%|███████████████████████████████████████████████████████████████████████| 216432/216432 [00:06<00:00, 36014.01it/s]
100%|████████████████████████████████████████████████████████████████████████| 216432/216432 [01:30<00:00, 2390.19it/s]

---Merging all Dataframes (ATO, ATP, COM, TDMS)---
Time Taken: 2453.0095032
---Unit Test for merged ATO and ATP Dataframe---
(207125, 513) (207125, 513)
Epoch Time Equality Between Sample Output and Self Processed:  False
ATO General Equality Between Sample Output and Self Processed:  True
Difference betwen ATLAS Output and Self Generated:                       epoch  ATO_0806_Calibration  ATO_1220_Energy_delta  \
248    self   1.502341e+12                   NaN                    NaN
       other  1.502341e+12                   NaN                    NaN
249    self   1.502341e+12                   NaN                    NaN
       other  1.502341e+12                   NaN                    NaN
250    self   1.502341e+12                   NaN                    NaN
...                    ...                   ...                    ...
207122 other           NaN             -25.94871                    NaN
207123 self            NaN             -25.94871                    NaN
       other           NaN             -25.94871                    NaN
207124 self            NaN             -25.94871                    NaN
       other           NaN             -25.94871                    NaN

              ATO_2008_ATP_Energy_delta
248    self                         NaN
       other                        NaN
249    self                         NaN
       other                        NaN
250    self                         NaN
...                                 ...
207122 other                        NaN
207123 self                         NaN
       other                        NaN
207124 self                         NaN
       other                        NaN

[186846 rows x 4 columns]
---Unit Test for merged ATO and TDMS Dataframe---
(216914, 400) (216914, 400)
Epoch Time Equality Between Sample Output and Self Processed:  False
ATO General Equality Between Sample Output and Self Processed:  True
Difference betwen ATLAS Output and Self Generated:                       epoch  ATO_0806_Calibration  ATO_1220_Energy_delta  \
256    self   1.502341e+12                   NaN                    NaN
       other  1.502341e+12                   NaN                    NaN
257    self   1.502341e+12                   NaN                    NaN
       other  1.502341e+12                   NaN                    NaN
258    self   1.502341e+12                   NaN                    NaN
...                    ...                   ...                    ...
216911 other           NaN             -25.94871                    NaN
216912 self            NaN             -25.94871                    NaN
       other           NaN             -25.94871                    NaN
216913 self            NaN             -25.94871                    NaN
       other           NaN             -25.94871                    NaN

              ATO_2008_ATP_Energy_delta
256    self                         NaN
       other                        NaN
257    self                         NaN
       other                        NaN
258    self                         NaN
...                                 ...
216911 other                        NaN
216912 self                         NaN
       other                        NaN
216913 self                         NaN
       other                        NaN

[186902 rows x 4 columns]
---Unit Test between ATLAS Output and Self Generated---
(256293, 693) (256293, 693)
Epoch Time Equality Between Sample Output and Self Processed:  False
ATO General Equality Between Sample Output and Self Processed:  True
Difference betwen ATLAS Output and Self Generated:                       epoch  ATO_0806_Calibration  ATO_1220_Energy_delta  \
293    self   1.502341e+12                   NaN                    NaN
       other  1.502341e+12                   NaN                    NaN
294    self   1.502341e+12                   NaN                    NaN
       other  1.502341e+12                   NaN                    NaN
295    self   1.502341e+12                   NaN                    NaN
...                    ...                   ...                    ...
256289 other           NaN             -25.94871                    NaN
256291 self            NaN             -25.94871                    NaN
       other           NaN             -25.94871                    NaN
256292 self            NaN             -25.94871                    NaN
       other           NaN             -25.94871                    NaN

              ATO_2008_ATP_Energy_delta
293    self                         NaN
       other                        NaN
294    self                         NaN
       other                        NaN
295    self                         NaN
...                                 ...
256289 other                        NaN
256291 self                         NaN
       other                        NaN
256292 self                         NaN
       other                        NaN

[187756 rows x 4 columns]
---Unit Test for merged ATO and ATP Dataframe---
(206921, 513) (206921, 513)
Epoch Time Equality Between Sample Output and Self Processed:  True
ATO General Equality Between Sample Output and Self Processed:  True
Difference betwen ATLAS Output and Self Generated:                ATO_0806_Calibration  ATO_1220_Energy_delta  \
71890  self                    NaN                111.717
       other                   NaN                111.717
71892  self                    NaN                111.717
       other                   NaN                111.717
71893  self                    NaN                111.717
...                            ...                    ...
206917 other              25.93022                    NaN
206919 self               25.93022                    NaN
       other              25.93022                    NaN
206920 self               25.93022                    NaN
       other              25.93022                    NaN

              ATO_2008_ATP_Energy_delta
71890  self                     111.717
       other                    111.717
71892  self                     111.717
       other                    111.717
71893  self                     111.717
...                                 ...
206917 other                        NaN
206919 self                         NaN
       other                        NaN
206920 self                         NaN
       other                        NaN

[173212 rows x 3 columns]
---Unit Test for merged ATO and TDMS Dataframe---
(216432, 400) (216432, 400)
Epoch Time Equality Between Sample Output and Self Processed:  True
ATO General Equality Between Sample Output and Self Processed:  True
Difference betwen ATLAS Output and Self Generated:                ATO_0806_Calibration  ATO_1220_Energy_delta  \
75253  self                    NaN                111.717
       other                   NaN                111.717
75254  self                    NaN                111.717
       other                   NaN                111.717
75255  self                    NaN                111.717
...                            ...                    ...
216429 other              25.93022                    NaN
216430 self               25.93022                    NaN
       other              25.93022                    NaN
216431 self               25.93022                    NaN
       other              25.93022                    NaN

              ATO_2008_ATP_Energy_delta
75253  self                     111.717
       other                    111.717
75254  self                     111.717
       other                    111.717
75255  self                     111.717
...                                 ...
216429 other                        NaN
216430 self                         NaN
       other                        NaN
216431 self                         NaN
       other                        NaN

[173212 rows x 3 columns]
---Unit Test between ATLAS Output and Self Generated---

(249914, 693) (249914, 693)
Epoch Time Equality Between Sample Output and Self Processed:  True
ATO General Equality Between Sample Output and Self Processed:  True
Difference betwen ATLAS Output and Self Generated:                ATO_0806_Calibration  ATO_1220_Energy_delta  \
87232  self                    NaN                111.717
       other                   NaN                111.717
87234  self                    NaN                111.717
       other                   NaN                111.717
87236  self                    NaN                111.717
...                            ...                    ...
249910 other              25.93022                    NaN
249912 self               25.93022                    NaN
       other              25.93022                    NaN
249913 self               25.93022                    NaN
       other              25.93022                    NaN

              ATO_2008_ATP_Energy_delta
87232  self                     111.717
       other                    111.717
87234  self                     111.717
       other                    111.717
87236  self                     111.717
...                                 ...
249910 other                        NaN
249912 self                         NaN
       other                        NaN
249913 self                         NaN
       other                        NaN

[173212 rows x 3 columns]